###############################################################################
# xmamerc.dist
# Sample configuration file for X-Mame
###############################################################################
#
# you should copy ( and edit ) this file to $HOME/.xmamerc
#
# by mame@drake.dit.upm.es
#
# Available since release 0.20.3
#
# Each line has the format:
# <option> <value>
#
# Spaces, tabs, newlines and empty lines are allowed anywhere in the file
# Every thing that follows "#" sign is considered a comment, and ignored
#
###############################################################################

#
############################ Configurable parameters ##########################
#

# Where does your Mame rom files reside? 
# This option can be overriden by MAMEDIR environment variable
mamedir		/usr/local/games/mame

# What is your loved game? ( remember that mame defaults to "pacman" )
defaultgame	galturbo

# Type here the name of the display where play xmame
# overriden by DISPLAY environment variable. Not usefull in config file but...
# displayname	localhost:0.0

# Use sound if available. default is 0 (Don't)
play_sound 	0

# to disable use of FM synthetizer chip emulation features set next to 1
# ( of course, sound should be enabled to take effect.... )
dontuse_fm_synth 0

# Use joystick if available ( At this moment only in linux if support compiled)
use_joystick	1

# Define X and Y axis scale related to original bitmap. Default is 1
widthscale	2
heightscale	2

# If your screen refresh is to slow, you can skip frames with frameskip option
frameskip	3

# If MIT shared memory support is compiled in you can disable it setting to 0
# ( default is 1 --> try to use mitshm if available )
use_mitshm	1

# If you have problems with colors, perhaps find usefull force usage of
# a private color map structure
private_colormap 0

#
############################ Keyboard remapping ##########################
#

# The main reason for this file: keyboard remapping sequences
# syntax follows:
#
# mapkey	<Xcode>,<Scancode>
#
# Xcode means the HEX code of the key as appears in /usr/include/X11/keysymdef.h
# Scancode means the hexadecimal code that represents the value used for Xmame
# 	in keyboard inputs, as defined in src/osdepend.h xmame source file
# IMPORTANT: 
#	1- Due to some limitations, only LATIN-1 X-codes ( 0x0000-0x00ff ) and
#	Especial X-keycodes ( 0xff00-0xffff ) are supported
#	2- Some keys are keyboard dependent: As Xmame works internally with
#	Standard US-AT keyboard codes, you must take care in remmaping some keys
#

# An example: map space as "firebutton" ( Mame predefines it as OSD_KEY_CONTROL )
# in simbolic Xlib/Mame notation it should be:
#
# mapkey XK_space,OSD_KEY_CONTROL 
# 
# So looking in X11/keysymdef.h and src/osdepend.h we'll write
mapkey	0x0020,0x0039

# (Other example). To use F8 key to insert coin you shoud use:
# mapkey  0xffc5,0x0004
